<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style type="text/css">
    .topnav {
        overflow: hidden;
        background-color: #f0f0f0;
        width: 100%;
        justify-content: center;
        margin: 0 auto;
        padding-left: 110px;
        border-radius: 0px;
        position: static;
    }

    .topnav a {
        float: left;
        color: #000;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .topnav a:hover:not(.active) {
        background-color: rgb(218, 218, 218);
        color: #000;
    }

    .topnav a:hover,
    .topnav a:focus {
        text-decoration: underline;
    }

    .topnav a.active {
        /* background-color:#697174; */
        /* background-color:#717A7D; */
        background-color: #8AA0AB;
        color: white;
    }

    body {
        background: #e0ded6;
        font-family: "Helvetica Neue", Helvetica, Arial;
    }

    input::-webkit-input-placeholder {
        color: #b5b5b5;
    }

    input:-moz-placeholder {
        color: #b5b5b5;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    #backToDataTable:hover {
        opacity: 1;
    }

    #backToDataTable {
        background-color: #FEFAFF;
        color: #666666;
        border-radius: 2px;
        width: 175px;
        margin-bottom: 10px;
        margin-right: 5px;
        font-size: 14px;
        padding: 4px 9px 4px;
        opacity: 0.9;
    }

    .main-nav-ul ul {
        display: none;
    }

    .main-nav-ul li:hover ul {
        display: block;
    }

    .sub-arrow:after {
        content: '\203A';
        float: right;
        margin-right: 20px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 250px;
        background-color: #f8f8f8;
    }

    li a {
        display: block;
        color: #666666;
        padding: 8px 16px;
        text-decoration: none;
    }

    li a.active {
        background-color: #908B85;
        color: white;
        opacity: 0.7;
    }

    li a:hover:not(.active) {
        background-color: rgb(218, 218, 218);
        color: #000;
    }

    table,
    th,
    td {
        border: 2px solid;
        border-collapse: collapse;
        border-color: #f6f6f6;
        font-size: 16px
    }

    .table-content {
        padding: 4px 10px;
        text-align: center;
    }

    #nextBtn {
        background: -moz-linear-gradient(top,
                #b9c5dd 0%,
                #ACB9CA);
        background: -webkit-gradient(linear, left top, left bottom,
                from(#b9c5dd),
                to(#ACB9CA));
        color: #000;
        border: 2px solid #ACB9CA;
    }

    #nextBtn:hover {
        background: -moz-linear-gradient(top,
                #ACB9CA 0%,
                #b9c5dd);
        background: -webkit-gradient(linear, left top, left bottom,
                from(#ACB9CA),
                to(#b9c5dd));
    }

    #prevBtn {
        background: -moz-linear-gradient(top,
                #D8D8D8 0%,
                #C9C9C9);
        background: -webkit-gradient(linear, left top, left bottom,
                from(#D8D8D8),
                to(#C9C9C9));
        /* background: #D8D8D8; */
        color: #000;
        border: 2px solid #D8D8D8;
    }

    #prevBtn:hover {
        background: -moz-linear-gradient(top,
                #C9C9C9 0%,
                #D8D8D8);
        background: -webkit-gradient(linear, left top, left bottom,
                from(#C9C9C9),
                to(#D8D8D8));
    }
</style>

<div class="wrapper" style="width: 100%;">
    <div class="container-fluid no-gutters"
        style="position: static; text-align: right; margin: 8px 0px; font-size: 14px;">

        <% if (req.session.role !=undefined) {%>

            Logged in as <b>
                <%= req.session.user.Surname%>
                    <%= req.session.user.GivenName%>
            </b>&nbsp; |&nbsp;

            <a style="color: black; padding: 5px 50px 25px 0px; color: #71838C" href="/user/logout">Logout</a>

            <%}%>
    </div>
</div>

<div class="wrapper" style="width: 100%; margin: 0 auto;">
    <div class="container-fluid" style="justify-content: center; 
    padding: 27px 15px 12px 115px; background: #fff;
    border-radius: 0px; position: static;">
        <h2 style="font-size: 40px;
            font-weight: bold; color:#6A635A">HKBU Student Admission System</h2>
    </div>
</div>

<div class="topnav">
    <a class="active" href="/user/admin/applications/all/search">Applications</a>
    <a href="/user/admin/statistics">Statistics</a>
    <a href="/user/admin/profile">Profile</a>
</div>

<div class="wrapper" style="width: 100%; margin: 0 auto;">
    <div class="container-fluid"
        style="justify-content: center; height: 35px; font-size: 17px;
background: #fff; border-radius: 0px; position: static; color: #888888; padding-top: 6px; padding-bottom: 5px; padding-left: 125px;">
        <i class="fa fa-home" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"
            aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<span>Applications</span>&nbsp;&nbsp;
    </div>
</div>
<br>

<div class="wrapper" style="width: 1310px; margin: 0 auto;">
    <div class="container-fluid" style="justify-content: center; 
    padding: 30px 15px 25px; background: #fff;
    border-radius: 0px; position: static;">

        <div style="display: flex;">

            <div class="main-content" style="margin-left: 40px;">

                <div class="row" style="margin-left: 0px; clear: both">
                    <!-- send email button -->
                    <a id="redirect-link" style="color: #333333;" href="/user/admin/applications/all/search">
                        <button class="form-control btn-lg" id="backToDataTable">
                            << See all applications </button>
                    </a>
                </div>

                <br>
                <article class="page">
                    <div style="display: flex;">

                        <nav class="main-nav">
                            <ul class="main-nav-ul">
                                <li class="menu-left_item lv1"><a
                                        href="/user/admin/applications/details/<%= application.id%>"><span
                                            class="sub-arrow">Personal
                                            Particulars</span></a></li>

                                <li class="menu-left_item lv1"><a
                                        href="/user/admin/applications/details/academicProfile/<%= application.id%>">Academic
                                        Profile<span class="sub-arrow"></span></a>
                                </li>
                                <li class="menu-left_item lv1"><a
                                        href="/user/admin/applications/details/academicQualification/<%= application.id%>"><span
                                            class="sub-arrow">Academic
                                            Qualification</span></a>
                                </li>
                                <li class="menu-left_item lv1"><a class="active"
                                        href="/user/admin/applications/details/programmePreference/<%= application.id%>"><span
                                            class="sub-arrow">Programme
                                            Preference</span></a>
                                </li>
                                <li class="menu-left_item lv1"><a href="/user/admin/applications/details/academicReference/<%= application.id%>"><span class="sub-arrow">Academic Reference</span></a>
                                </li>
                                <li class="menu-left_item lv1"><a
                                        href="/user/admin/applications/details/otherInformation/<%= application.id%>"><span
                                            class="sub-arrow">Other
                                            Information</span></a>
                                </li>
                            </ul>
                        </nav>

                        <div class="main-content" style="margin-left: 40px">
                            <h3 style="color: #666666;
                        font-size: 24px;
                        font-weight: bold;
                        margin-bottom: 5px;">Programme Preference</h3>
            
                            <p style="width: 800px; padding-top: 5px; margin-right: 20px; color: #444444;">You may choose no more than
                                three
                                programme choices. Note that all programmes will be considered as equally ranked and evaluation will
                                take place concurrently and independently for all your programme choices.
                                You are advised to check the admission
                                requirements of each programme to make sure that you are qualified for the programme(s)
                                you wish to
                                apply.
                            </p>
            
                            <div id="programmePreference">
                                <table style="color: #333333; margin-top: 0px; padding-top: 0px; max-width: 800px; ">
                                    <tr>
                                        <td colspan="4" style="padding-left: 12px; background: #C8D8CC; margin-top: 15px; max-width: 800px; padding-top: 1px;
                                    margin-left: 0px;">Programme Choice</td>
                                    </tr>
                                    <tr>
                                        <th style="text-align: center; width: 65px;">Choice</th>
                                        <th style="text-align: center; width: 200px;">Programme Full Title</th>
                                        <th style="text-align: center; width: 200px;">Entrance Year</th>
                                        <!-- <th style="text-align: center; width: 200px;">Preferred Concentration</th> -->
                                    </tr>
            
                                    <tr>
                                        <td class="table-content" style="text-align: center;">1</td>
                                        <!-- Programme full title -->
                                        <td class="table-content"
                                            style="text-align: center; padding-left: 10px; padding-right: 10px;">
                                            <select class="form-control" id="program1" name="User[program1]"
                                                style="height: 30px; width: 180;" required>
                                            </select>
                                        </td>
                                        <!-- Entrance year -->
                                        <td class="table-content"
                                            style="text-align: center; padding-left: 10px; padding-right: 10px;">
                                            <select class="form-control" id="entryYear1" name="User[entryYear1]" style="height: 30px;">
                                                <option value="" selected="true">-Select-</option>
                                                <option value="Year 1" <% if( application.entryYear1 !="" ) { %>
                                                    <%=(application.entryYear1=='Year 1' )? 'selected' :'' %>
                                                        <% } %>
                                                            >Year 1
                                                </option>
                                                <option value="Year 3" <% if( application.entryYear1 !="" ) { %>
                                                    <%=(application.entryYear1=='Year 3' )? 'selected' :'' %>
                                                        <% } %>
                                                            >Year 3
                                                </option>
                                            </select>
                                        </td>
                                    </tr>
            
                                    <tr>
                                        <td class="table-content" style="text-align: center;">2</td>
                                        <!-- Programme full title -->
                                        <td class="table-content"
                                            style="text-align: center; padding-left: 10px; padding-right: 10px;">
                                            <select class="form-control" id="program2" name="User[program2]"
                                                style="height: 30px; width: 180;" onchange="setMandatory()">
                                            </select>
                                        </td>
                                        <!-- Entrance year -->
                                        <td class="table-content"
                                            style="text-align: center; padding-left: 10px; padding-right: 10px;">
                                            <select class="form-control" id="entryYear2" name="User[entryYear2]" style="height: 30px;">
                                                <option value="" selected="true">-Select-</option>
                                                <option value="Year 1" <% if( application.entryYear2 !="" ) { %>
                                                    <%=(application.entryYear2=='Year 1' )? 'selected' :'' %>
                                                        <% } %>
                                                            >Year 1
                                                </option>
                                                <option value="Year 3" <% if( application.entryYear2 !="" ) { %>
                                                    <%=(application.entryYear2=='Year 3' )? 'selected' :'' %>
                                                        <% } %>
                                                            >Year 3
                                                </option>
                                            </select>
                                        </td>
                                    </tr>
            
                                    <tr>
                                        <td class="table-content" style="text-align: center;">3</td>
                                        <!-- Programme full title -->
                                        <td style="text-align: center; padding-left: 10px; padding-right: 10px;">
                                            <select class="form-control" id="program3" name="User[program3]" style="height: 30px;"
                                                onchange="setMandatory()">
                                            </select>
                                        </td>
                                        <!-- Entrance year -->
                                        <td class="table-content"
                                            style="text-align: center; padding-left: 10px; padding-right: 10px;">
                                            <select class="form-control" name="User[entryYear3]" id="entryYear3"
                                                style="height: 30px; width: 180;">
                                                <option value="" selected="true">-Select-</option>
                                                <option value="Year 1" <% if( application.entryYear3 !="" ) { %>
                                                    <%=(application.entryYear3=='Year 1' )? 'selected' :'' %>
                                                        <% } %>
                                                            >Year 1
                                                </option>
                                                <option value="Year 3" <% if( application.entryYear3 !="" ) { %>
                                                    <%=(application.entryYear3=='Year 3' )? 'selected' :'' %>
                                                        <% } %>
                                                            >Year 3
                                                </option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
            
                                <div>
                                    <br>
                                    <!-- Previous -->
                                    <a href="/user/admin/applications/details/academicQualification/<%= application.id%>">
                                        <button id="prevBtn" class="btn btn-primary">
                                            <b>
                                                << Previous</b></button></a>

                                    <!-- Next -->
                                    <a href="/user/admin/applications/details/academicReference/<%= application.id%>">
                                        <button id="nextBtn" class="btn btn-primary"><b>Next
                                                Page >></b></button>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </article>


            </div>
        </div>
    </div>
</div>

<script>
    (function () {
        var program1Options = "<option value='' disabled selected>" + "-Select-" + "</option>";
        var program2Options = "<option value='' disabled selected>" + "-Select-" + "</option>";
        var program3Options = "<option value='' disabled selected>" + "-Select-" + "</option>";
        var programmes = [
            "Bachelor of Arts",
            "Bachelor of Arts (Hons) in Creative and Professional Writing",
            "Bachelor of Arts (Hons) in Chinese Language and Literature",
            "Bachelor of Arts (Hons) in English Language and Literature",
            "Bachelor of Arts (Hons) in Humanities",
            "Bachelor of Arts (Hons) in Music",
            "Bachelor of Arts (Hons) in Religion, Philosophy and Ethics",
            "Bachelor of Arts (Hons) in Translation",
            "Bachelor of Arts (Hons) in Creative Industries",
            "Bachelor of Arts (Hons) in Visual Arts",
            "Bachelor of Business Administration (Honours)",
            "Bachelor of Business Administration (Hons)-Accounting Concentration",
            "Bachelor of Business Administration (Hons)-Applied Economics Concentration",
            "Bachelor of Business Administration (Hons)-Entrepreneurship Concentration",
            "Bachelor of Business Administration (Hons)-Finance Concentration",
            "Bachelor of Business Administration (Hons)-Human Resources Management Concentration",
            "Bachelor of Business Administration (Hons)-Information Systems and e-Business Management Concentration",
            "Bachelor of Business Administration (Hons) Marketing Concentration",
            "Bachelor of Chinese Medicine and Bachelor of Science (Honours) in Biomedical Science",
            "Bachelor of Pharmacy (Honours) in Chinese Medicine",
            "Bachelor of Communication (Hons) in Film (Animation and Media Arts Concentration)",
            "Bachelor of Communication (Hons) in Film (Film and Television Concentration)",
            "Bachelor of Communication (Hons) in Journalism",
            "Bachelor of Communication (Hons) in Journalism and Digital Media",
            "Bachelor of Communication (Hons) in Journalism (Chinese Journalism Concentration)",
            "Bachelor of Communication (Hons) in Journalism (Data and Media Communication Concentration)",
            "Bachelor of Communication (Hons) in Public Relations and Advertising",
            "Bachelor of Fine Arts (Hons) in Acting for Global Screen",
            "Bachelor of Communication (Hons) in Journalism (International Journalism Concentration)",
            "Bachelor of Communication (Hons) in Public Relations and Advertising (Advertising and Branding Concentration)",
            "Bachelor of Communication (Hons) in Public Relations and Advertising (Organizational Communication Concentration)",
            "Bachelor of Communication (Hons) in Public Relations and Advertising (Public Relations Concentration)",
            "Bachelor of Science (Honours)",
            "Bachelor of Science (Hons) in Analytical and Testing Sciences",
            "Bachelor of Science (Hons) in Applied Biology-Biotechnology Concentration",
            "Bachelor of Science (Hons) in Applied Biology-Environmental Science Concentration",
            "Bachelor of Science (Hons) in Business Computing and Data Analytics",
            "Bachelor of Science (Hons) in Bioresource and Agricultural Science",
            "Bachelor of Science (Hons) in Chemistry",
            "Bachelor of Science (Hons) in Computer Science-Computing and Software Technologies Concentration",
            "Bachelor of Science (Hons) in Computer Science-Data and Media Communication Concentration",
            "Bachelor of Science (Hons) in Computer Science-Information Systems and Analytics Concentration",
            "Bachelor of Science (Hons) in Mathematics and Statistics",
            "Bachelor of Science (Hons) in Physics and Green Energy",
            "Bachelor of Arts (Hons) in Physical Education and Recreation Management",
            "Bachelor of Arts (Hons)/ Bachelor of Social Sciences (Hons) (Geography/ Government and International Studies/ History/ Sociology)",
            "Bachelor of Social Work (Hons)",
            "Bachelor of Arts (Hons) in History",
            "Bachelor of Social Sciences (Hons) in China Studies-Economics Concentration",
            "Bachelor of Social Sciences (Hons) in European Studies-French Stream",
            "Bachelor of Social Sciences (Hons) in European Studies-German Stream",
            "Bachelor of Social Sciences (Hons) in Global and China Studies",
            "Bachelor of Social Sciences (Hons) in Geography",
            "Bachelor of Social Sciences (Hons) in Government and International Studies",
            "Bachelor of Social Sciences (Hons) in Sociology"];

        for (i = 0; i < programmes.length; i = i + 1) {
            program1Options += "<option value='" + programmes[i] + "' id='" + programmes[i] + "1'>" + programmes[i] + "</option>";
        }

        for (i = 0; i < programmes.length; i = i + 1) {
            program2Options += "<option value='" + programmes[i] + "' id='" + programmes[i] + "2'>" + programmes[i] + "</option>";
        }

        for (i = 0; i < programmes.length; i = i + 1) {
            program3Options += "<option value='" + programmes[i] + "' id='" + programmes[i] + "3'>" + programmes[i] + "</option>";
        }

        document.getElementById("program1").innerHTML = program1Options;
        document.getElementById("program2").innerHTML = program2Options;
        document.getElementById("program3").innerHTML = program3Options;

        '<% if (application.program1 != "") { %>'
        var selectedProgram1 = '<%= application.program1 %>';
        '<% } %>'

        '<% if (application.program2 != "") { %>'
        var selectedProgram2 = '<%= application.program2 %>';
        '<% } %>'

        '<% if (application.program3 != "") { %>'
        var selectedProgram3 = '<%= application.program3 %>';
        '<% } %>'

        for (i = 0; i < programmes.length; i = i + 1) {

            if (selectedProgram1 == programmes[i]) {

                document.getElementById(programmes[i] + '1').setAttribute('selected', 'selected');
            }
        }

        for (i = 0; i < programmes.length; i = i + 1) {

            if (selectedProgram2 == programmes[i]) {

                document.getElementById(programmes[i] + '2').setAttribute('selected', 'selected');
            }
        }

        for (i = 0; i < programmes.length; i = i + 1) {

            if (selectedProgram3 == programmes[i]) {

                document.getElementById(programmes[i] + '3').setAttribute('selected', 'selected');
            }
        }
    })();
</script>